p{
    color: brown;
    text-align: center;
    font-style: georgia;
    line-height: 30px;
}
h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: antiquewhite underline;
}
h3{
    text-align: center;
    text-transform: uppercase;
    text-decoration: antiquewhite underline;
}
a{
    color: brown;
    text-decoration: none;
}
button{
    color: rgb(137, 116, 116);
    background-color: blueviolet;
}