.card{
    height:200px;
    width:200px;
    background-color: rgb(51, 188, 188);
    display:inline-block;
    margin:10px;
    border:2px solid black;
    border-radius: 5px;
    box-shadow:3px 3px 5px goldenrod;
}
.card:hover{
    box-shadow:3px 10px 5px goldenrod;
    transition:1s;

}
.desc{
    padding:20px 10px 10px 10px;
}