body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: cornflowerblue;
}
#searchbtn{
    background-color: black;
    color:aliceblue
}
.userbtn{
    background-color: aquamarine;
}