h1{
    text-align: center;
    text-decoration: wavy red underline;
}
p{
    text-align: justify;
}
h2{
    font-weight: 300;
    text-decoration:dashed pink line-through;
}
a{
    text-decoration: none;
}