div{
    height:100 px;
    width:100 px;
    background-color: black;
    transition: 2s;
    margin:o auto;
    transition:margin top 2s ease-in.2s;
}
div:hover{
    background-color: pink;
    border-radius: 50%;
    margin-top:400px;
}